@charset "UTF-8";
html {display: block;}
*{-webkit-tap-highlight-color:transparent;outline:0}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:center; font-weight:normal;}
body {margin:0 auto;font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;color:#666;-webkit-text-size-adjust: 100% !important;font-smoothing: antialiased;-webkit-font-smoothing: antialiased;-o-font-smoothing: antialiased;-moz-font-smoothing: antialiased;font-weight: normal;font-size: 16px; color:#161515;line-height:1.8;display: block;background: #fff;}
img{border:0 none;vertical-align:top;}
i,em{font-style:normal}
ol,ul{list-style:none}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit;}
input,textarea,button,img,div {margin: 0;padding: 0}
div {display: block}
table{border-collapse:collapse;border-spacing:0}
button {appearance: none;-webkit-appearance: none;-moz-appearance: none;cursor: pointer;}
input {-webkit-appearance: none;}
/* font style */
a {text-decoration:none;}
a:link {color:#161515;}		/* 未访问的链接 */
a:visited {color:#161515;}	/* 已访问的链接 */
a:hover {color:#ea413a;}	/* 鼠标移动到链接上 */
a:active {color:#161515;}	/* 选定的链接 */
a.active_link {color:#ea413a;}

/* webkit 浏览器*/
::-webkit-input-placeholder {
    color:#ccc;
}
/* 火狐浏览器 */
::-moz-placeholder {
    color:#ccc;
}
/* webkit, opera, IE9 */
::selection { background: #167efb;color: #fff;}

/* mozilla firefox */
::-moz-selection { background: #74c543;color: #fff;}

body, html {min-width: 980px; margin:0 auto;}



/*common*/
.body_item {display:block;  background-color: #f5f5f5; padding-bottom:60px;}
.body_item2 {display:block;  background-color: #f5f5f5; margin-top:100px; padding-bottom:12px;}
.bd2_mb60 {padding-bottom:60px;}
.main_img img {width:100%;}
.main_pic {padding:12px 0;}
.main_pic img {width:100%;}
.main_pic2 {padding-top:12px;}
.main_pic2 img {width:100%;}
section {width:1240px; margin:0 auto;}
h2 {font-size: 20px; color:#161515; padding:12px 0;}
a{margin:0; padding:0;}
.t_i {text-indent: 2em;}
.slide_dots {position:absolute; right:95px; bottom:10px; display:block;}
.dot {display:inline-block; border:1px solid #d0cece; border-radius: 50%; width:13px; height:13px; margin-left:10px;}
.bg_g {background-color: #d0cece;}
.bg_w {background-color:white;}
.f_red {color: #e94141;}
.f_black {color: #161515;}
.f_gray {color: #747272;}
.f_green {color: #2eb532;}
.f_blue {color: blue;}
.hidden {display:none;}
.show {display:block;} 


/*header*/
.header_fixed {position:fixed; top:0;left:0;right:0; width:100%; background-color:#fff; z-index:100; height:100px;}
.head_item {width:1240px;margin:0 auto; overflow: hidden;}
.head_item .hd_logo {float:left; width:240px; height:100px;line-height:100px; text-align: center;}
.head_item .hd_logo img { width:200px; height:60px; margin-top:10px; margin-bottom:20px;}
.head_item .hd_location {float:left; width:200px; text-align: center; margin:25px auto; line-height:25px;}
.head_item .hd_location p span {font-size:13px; color:#008dff;}
.head_item .hd_nav {float:right; height:100px; line-height: 100px;}
.head_item .hd_nav .nav_item li {display: inline-block; padding:0 10px;}
/*底部扫描图标*/
.foot_scan {position:fixed; right:1px; bottom:50px;z-index:15; width:50px; height:150px; background-color: #fff;border:1px solid #dfdfdf; box-shadow:0 0 1px 1px rgba(0,0,0,.1);}
.foot_scan .scan_wrap {position:relative;}
.foot_scan .scan_wrap .qr_code {position:absolute; top:-1px; right:50px; width:0; height:150px; overflow: hidden;border:1px solid #dfdfdf; border-right: none; box-shadow: -4px 0 4px -4px rgba(0,0,0,.1),0 -4px 4px -4px rgba(0,0,0,.1),0 4px 4px -3px rgba(0,0,0,.1),0 0 0 0 rgba(0,0,0,0);  background-color: #fff;}
.foot_scan .scan_wrap .qr_code p {width:130px; text-align: center; height:20px; line-height: 20px;overflow: hidden; font-size: 13px; margin-bottom: 5px;}
.foot_scan .scan_wrap .qr_code img{width:120px; height:120px; margin:5px 5px 0 5px;}
.foot_scan .scan_wrap ul{width:50px; height:150px; }
.foot_scan .scan_wrap ul li{width:50px;height:50px;}
.foot_scan .scan_wrap ul li img {width:30px;height:30px; margin:10px;}
/*footer*/
.footer_bg1 {background: #fff;  overflow:hidden;}
.foot { width:1240px; margin:0px auto; padding:30px 0 20px 0; overflow: hidden; text-align:left; }
.foot p {line-height:25px; font-size:15px; color:#999;}
.foot h4 {height:30px; line-height:30px; font-size:15px; color:#161515;}
.foot .ft_item {float:left; width:24%;}
.foot .ft_item2 {float:left; width:28%;}

.foot a:link {color:#999;}		/* 未访问的链接 */
.foot a:visited {color:#999;}	/* 已访问的链接 */
.foot a:hover {color:#ea413a;}	/* 鼠标移动到链接上 */
.foot a:active {color:#999;}	/* 选定的链接 */

.corp_info {text-align:center; margin:0px auto; padding-bottom: 15px; font-size:12px; color: #c4c2c2;} 

/*主页 开始*/
/*wrap*/
.wrap {background-color: #f1efeb;margin-top:100px; overflow: hidden;}
.wrap .wrapper {width: 1240px; height:420px; margin: 0 auto; position:relative;}
.wrap .wrapper .menu {position:absolute; top:0; left:0; background-color: rgba(17,140,225,0.7); width: 240px; height:420px; z-index:11;}
.wrap .wrapper .menu .category { position:relative; height:60px; width:240px; line-height: 60px; border-bottom: 1px solid #bababa; text-align:center; }

.wrap .wrapper .menu .category a { font-size: 16px;}
.wrap .wrapper .menu .category i {position:absolute; right:20px; top:20px; background:url(../images/logo_1.png) no-repeat scroll center; background-size: 20px 20px; width:20px; height:20px; display:block;}
.wrap .wrapper .item_content {position:absolute; left:240px; top:0; z-index:12; display:none; background-color: rgba(255,255,255,0.85);overflow: hidden;}
.wrap .wrapper .item_content ul { display:block; width:140px;}
.wrap .wrapper .item_content ul li {height:60px; width:100px; line-height: 60px; list-style-type:disc;   list-style-position:outside; margin-left: 30px;}
.wrap .wrapper .item_content1 {width:280px;}
.wrap .wrapper .item_content1 ul {float:left;}

/*轮播图
.slides_pics {float:left; display: block; width: 100%; height:420px;}
.slides_pics img {width: 100%; height:420px;}
#slides {display: none; position:relative; overflow: hidden;}
#slides .slidesjs-pagination {position:absolute; top: 400px; left:50%; z-index:10; display:block; text-align:center;}
#slides .slidesjs-pagination li {display: inline-block; width: 30px;}
#slides .slidesjs-pagination li a {display: block; width: 10px; height: 10px; border-radius: 50%; text-indent: -9999px; background-color: #fff; filter: alpha(opacity=30); -moz-opacity: 0.3; -webkit-opacity: 0.3; opacity: 0.3;}
#slides .slidesjs-pagination li a.active {filter: alpha(opacity=100); -moz-opacity: 1; -webkit-opacity: 1; opacity: 1;}
*/

/* 轮播图 开始 */
.slidebox {width: 100%;position: relative;background: #fff;margin-bottom: 20px;}
.slidebox .slide {overflow: hidden;position: relative;}

.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0}
.rslides li:first-child{position:relative;display:block;float:left}
.rslides img{display:block;height:auto;float:left;width:100%;border:0}

a.rslides_nav {width: 41px;height: 69px;display: block;position: absolute;top:50%;margin-top: -35px;overflow: hidden;text-indent: -9999em;background: url("../images/slide_nav.png") no-repeat;z-index: 12;cursor: pointer;}

a.rslides_nav.prev {left: 0px;background-position: -82px 0px;}
a.rslides_nav.next {right: 0px;background-position: -123px 0px;}

a.rslides_nav.prev:hover {background-position: 0px 0px;cursor: pointer;}
a.rslides_nav.next:hover {background-position: -41px 0px;cursor: pointer;}

.rslides_tabs {position: absolute;bottom: 20px;right: 30px;z-index: 2;height: 12px;}
.rslides_tabs li {list-style: none;float: left;margin: 0 5px;}
.rslides_tabs li a {width: 8px;height: 8px;background: rgba(0,0,0,0.5);overflow: hidden;display: block;text-indent: -9999em;border-radius: 50%;border: 2px solid rgba(255,255,255,0.3);}
.rslides_tabs li.rslides_here a,.rslides_tabs li a:hover {background: rgba(255,255,255,0.8);border: 2px solid rgba(0,0,0,0.4);}
/* 轮播图 结束     rslides_tabs rslides1_tabs rslides_here */


/*section1*/

.body_item .service_items  p {font-size:16px; background: #fff; height:40px; line-height:40px;}
.body_item .service_items .service_item1 {overflow: hidden;text-align:center; background: #fff;}
.body_item .service_items .service_item1 li {width:154px; height:154px; border-left: 1px solid #f5f5f5; display:inline-block; float:left; }
.body_item .service_items .service_item1 .fi {border:none;}
.body_item .service_items .service_item1 li img {width:80px; height: 80px; margin:0 auto; margin-top:20px; margin-bottom: -10px;}

.body_item .service_items .service_item2 {overflow: hidden; margin:8px -4px;}
.body_item .service_items .service_item2 li {width:200px; height:200px; display:inline-block; float:left; text-align:center; padding:0 4px;}
.body_item .service_items .service_item2 li img {width:200px; height: 160px; display: block;}

.body_item .service_items .service_item3 {overflow: hidden; margin:0 -4px;}
.body_item .service_items .service_item3 li {width:408px; height:240px; display:inline-block; float:left; text-align:center; padding:0 4px;}
.body_item .service_items .service_item3 li img {width:408px; height: 200px; display: block;}

/*section2*/
.body_item .comments_items {background: #fff; padding-top:35px; padding-bottom: 30px; position:relative;}
.body_item .comments_items article { position:relative; padding: 5px 250px 10px 140px ; min-height:90px;}
.body_item .comments_items article img {position:absolute; left:50px; top:0px; height:70px; width:70px;}
.body_item .comments_items .cm_time {position:absolute; right: 100px; top: 32px; display: block; font-size:15px; color: #6b6b6b;}

.body_item .comments_items h4{font-size:18px; color:#161515;}
.body_item .news p, .body_item .comments_items p {font-size:15px; color:#6b6b6b;}
/*section3*/
.body_item .news h4 {font-size:20px; color:#161515;}
.body_item .news .news_time {font-size:14px; color:#4b4a4a;}
.body_item .news {background: #fff;}
.body_item .news article {padding:15px 40px 25px 350px; position:relative; min-height:200px; border-bottom: 1px dotted #dcdcdc;}
.body_item .news article.last_art {border-bottom: none;}
.body_item .news article img {position: absolute; left:40px; top:25px; width:295px; height:190px;}

/*主页 结束*/


/* 页面 开始 */
/* 洗涤、管家 厨师 主页通用 */
.bd_line {border-bottom: 1px solid #eee;}
.body_item2 .bd2_items ul p {height:30px; line-height: 30px;}
.body_item2 .bd2_items ul p.f_red {font-size:14px; color:#e74346; height:20px; line-height: 20px;}
.body_item2 .bd2_items ul p.f_blue {color:#00b4ff;}
.body_item2 .bd2_items ul {display:block; overflow: hidden; text-align: center; margin:0 -6px;}
.body_item2 .bd2_items ul li {float:left; width:25%; background-color: #f5f5f5; margin-bottom:12px; overflow: hidden;}
.body_item2 .bd2_items ul li .price_info { background-color: #fff; overflow: hidden; margin:0 6px;}
.body_item2 .bd2_items ul li .price_info img {width:100%; height:100%;}
.body_item2 .bd2_items ul li .price_info .text_content {margin:10px auto;}
.body_item2 .bd2_items ul.mb_0 {margin-bottom:-12px;}
/* 厨师页面 */
.body_item2 .bd2_items li .cooking_items {width:100%; height:100%; padding:20px 0; background-color:#fff; overflow: hidden; margin:0 6px;}
.body_item2 .bd2_items li .cooking_items2 {width:100%; height:100%; padding:10px 0; background-color:#fff; overflow: hidden; margin:0 6px;}


/* 洗涤、管家 内容页通用 */
.body_item2 .tb_1 td, .body_item2 .tb_1 th {width:33.3%;}
.body_item2 .f_right .tb_2 td, .body_item2 .f_right .tb_2 th{width:25%;}
.body_item2 .f_right .tb_3 td, .body_item2 .f_right .tb_3 th {width:50%;}
.body_item2 .f_right .tb_4 td {width:20%;}
.body_item2 .bd2_content {overflow:hidden; font-size:16px; }
.body_item2 .f_left {float:left; display:block; width:20%; text-align:center;}
.body_item2 .f_left ul {background-color: #fff;}
.body_item2 .f_left li {display:block; height:60px; line-height:60px; border-bottom: 1px solid #eee; font-size:17px;}
.body_item2 .f_left li.nobd_line {border-bottom: none;}
.body_item2 .f_left .weixin {margin-top:12px; padding:25px 20px 10px 20px; background-color: #fff;}
.body_item2 .f_left .weixin img {width:160px;height:160px;}
.body_item2 .f_left .weixin p {margin:10px auto; font-size:13px;}
.body_item2 .f_right {float:right; display:block; width:79%; margin:0 auto;}
.body_item2 .f_right h4 {text-indent: 2em; height:60px; line-height: 60px; font-size:20px;}

.body_item2 .f_right .price_tb {width:85%; margin:0 auto; margin-top:20px;}
.body_item2 .f_right .price_tb p {font-size: 14px; color:#6b6b6b; line-height: 40px;}
.body_item2 .tb {border: solid #fff; border-width: 1px 0px 0px 1px; text-align:center; background-color: #f5f5f5; width:100%; }
.body_item2 .tb td{border: solid #fff; border-width: 0px 1px 1px 0px; line-height: 44px;font-size:15px;}
.body_item2 .tb th{border: solid #fff; border-width: 0px 1px 1px 0px; line-height: 44px;font-size:16px; font-weight:normal;}
.body_item2 .tb caption {margin:10px auto; font-size:16px;}
.body_item2 .f_right .r_content {padding:10px 0;}
.body_item2 .f_right .r_content p {line-height: 40px; padding:0 40px; text-indent: 2em;}
/* 洗涤 */
.body_item2 .f_right .r_item1{ background-color: #fff; min-height:818px;}

/* 管家页面 */
.body_item2 .r_item2 .clean {overflow: hidden; width:100%; margin:0 auto;}
.body_item2 .r_item2 .clean li {float:left; width:50%; margin-top: 30px;}
.body_item2 .r_item2 .clean .clean_content {width:300px; margin:0 auto;}
.body_item2 .r_item2 .clean .clean_content h4 {text-indent: 0em; text-align: center;}
.body_item2 .r_item2 .clean .clean_content h5 {text-align: center; font-size: 16px; height:30px; line-height: 30px; margin-top:10px;}
.body_item2 .r_item2 .clean .clean_content p {text-indent: 2em; font-size: 15px; color:#6b6b6b;} 
.body_item2 .f_right .r_item2 {background-color: #fff; margin-bottom:12px; padding-bottom:30px;}
.body_item2 .f_right .mb_0 { margin-bottom: 0;} 
.body_item2 .r_item2 .service_feature {width:90%; margin:20px auto; text-align: center;}
.body_item2 .r_item2 .service_feature img{width:100%; height:100%;}
.body_item2 .r_item2 .service_feature h4 {height:50px;line-height: 50px;}
.body_item2 .r_item2 .service_feature p {font-size: 15px; color: #6b6b6b; height:20px;line-height: 20px; margin-bottom:15px;}
.body_item2 .r_item2 .service_feature2 {width:90%; margin:20px auto;}
.body_item2 .r_item2 .service_feature2 img{width:100%; margin-bottom:20px;}

/* 厨师子页面 */
.body_item2 .bd2_items .items_cook ul{overflow: hidden;}
.body_item2 .bd2_items .items_cook li {float:left; width:16.66%; }
.body_item2 .bd2_items .items_cook li .item {padding:0 6px;}
.body_item2 .bd2_items .items_cook li img{width:100%; height:100%; }

.body_item2 .bd2_items .items_cook ul li p{height:40px; line-height:40px; background-color: #fff;}
.body_item2 .bd2_content .content_cook {background-color: #fff; padding-bottom:40px;}
.body_item2 .content_cook h4 {padding-left:40px; height:60px; line-height: 60px; font-size: 20px;}
.body_item2 .content_cook .content {padding-top:20px; padding-left: 80px;}
.body_item2 .content_cook .content h5 { height:35px; line-height: 35px; font-size: 18px;}
.body_item2 .content_cook .content p { height:30px; line-height: 30px; font-size: 16px; color:#6b6b6b;}
.body_item2 .content_cook .tb {width:90%; margin: 0 auto;}
.body_item2 .content_cook .price_tb2 p {font-size: 14px; color:#6b6b6b; height:40px; line-height: 40px; padding-left: 120px;}
/*市场页面*/
.body_item2 .market {background-color: #fff; padding-bottom:10px;}
.body_item2 .market_nav {height:60px; line-height: 60px; font-size: 17px; margin-left:50px;}
.active2 {color:red; border-bottom: 3px solid red;}
.body_item2 .market_nav li {display:inline-block; margin-right: 35px;height:56px; line-height: 56px;}
.body_item2 .market_content li {width:90%; padding-bottom: 40px; margin:0 auto;}
.body_item2 .market_content li p {font-size:15px; text-indent: 2em; margin:20px auto;}
/*收衣加盟*/
.body_item2 .market h4 {padding-left:50px; text-indent: 0;}
.body_item2 .market .market_item2 {padding:20px 50px 60px 50px; line-height: 30px;}
.body_item2 .market .market_item2 h5 {font-size:16px; height:40px; line-height: 40px; color:#161515;}
.body_item2 .market .market_item2 p {font-size:15px; color:#6b6b6b;}
.body_item2 .market .market_item3 {margin:0px auto; padding:20px 50px;}
.body_item2 .market .market_item3 h5 {font-size: 17px; height:40px; line-height: 40px;}
.body_item2 .market .market_item3 p {font-size:15px; color:#6b6b6b;}
.body_item2 .market .form_input {height:36px; line-height: 36px; margin:40px auto; text-align: center;}
.body_item2 .market .form_input label {height:36px; line-height: 36px; font-size: 16px; margin-right:10px;}
.body_item2 .market .form_input input {width: 600px; height:34px; line-height: 34px; border: 1px solid #eee;}
.body_item2 .market .form_1 .btn_submit { display:block; width:72px; height:36px; margin:30px auto; border: 1px solid #eee; border-radius: 5px;}
/* 页面 结束 */


/*培训招生页面*/
.body_item2 .train {background-color: #fff;}
.body_item2 .train h4 {height:60px; line-height: 60px; padding-left:120px; font-size:20px; }
.body_item2 .train .tb_5 {width:90%; margin:20px auto; border: solid #fff; border-width: 1px 0px 0px 1px; text-align:center; background-color: #f5f5f5;}
.body_item2 .train .tb_5 .bg2 {background-color: #ece9e9;}
.body_item2 .train .tb_5 td {border: solid #fff; border-width: 0px 1px 1px 0px; line-height: 44px;font-size:15px; width:25%;}
.body_item2 .train .tb_5 caption {margin:10px auto; font-size:15px;}
.body_item2 .train ul {width:80%; margin:0 auto; padding-top:25px; padding-bottom: 20px; overflow: hidden;}
.body_item2 .train ul .left {float:left; width:300px; text-align: center;}
.body_item2 .train ul .right {float:right; width:300px; text-align: center;}
.body_item2 .train ul li p {height:50px; line-height: 50px; font-size: 18px;}
 
 /*关于我们页面*/
.body_item2 .about_content {background-color: #fff;}
.body_item2 .about_content h4 {height:60px; line-height: 60px; font-size:20px; padding-left:40px;}
.body_item2 .about_content .intr {padding:20px 40px;}
.body_item2 .about_content .intr p {line-height: 30px; font-size:16px; text-indent: 2em;}
/*加入我们家政百科页面*/
.body_item3 {margin-top: 100px; min-height: 700px;}
.body_item3 .join_us_content {margin-bottom: 40px; overflow: hidden;}
.body_item3 .join_us_content .job_list li:hover {color:#e94141;}
.body_item3 .join_us_content .left {float:left; width:18%;}
.body_item3 .join_us_content .right {float:right; width:78%;}
.body_item3 .join_us_content h4 {font-size: 20px; height:60px; line-height: 60px;}
.body_item3 .join_us_content h5 {font-size: 18px; height:30px; line-height: 30px;}
.body_item3 .join_us_content .job_requires li {list-style-type: disc; margin-left:20px; font-size: 14px;}
.body_item3 .join_us_content p.mt {margin-top:20px;}
.body_item3 .join_us_content .workplace {color:#999;}
.body_item3 .join_us_content p {font-size: 14px;}
/*家政百科*/
.body_item3 .wiki_left {border:1px solid #eee; margin-top:15px;}
.body_item3 .left .weixin {margin:10px 0; padding:0 20px; background-color: #fff; text-align: center;}
.body_item3 .left .weixin img {width:100%;height:100%;}
.body_item3 .left .weixin p {margin:10px auto; font-size:13px;}
.body_item3 .right p.bd_line {padding-bottom:20px;}
.body_item3 .right ol li{margin-top:10px;}

.body_item4 {margin-top: 120px; margin-bottom: 60px;}
.body_item4 .wiki2 {min-height: 600px; position:relative;}
.body_item4 .wiki2 h4 {height:60px;line-height: 60px; font-size:20px; text-align: center;}
.body_item4 .wiki2 .list_back {position:absolute; top: 15px; right:100px; font-size: 15px; color:#008dff;}
.body_item4 .wiki2_content {line-height:30px; margin-top:20px;}
.body_item4 .wiki2_content p {margin-bottom:10px; font-size:15px; text-indent: 2em; color:#6b6b6b;}
/*APP页面*/
.body_item2 .pic_bg {width:100%; height:610px;}
.body_item2 .app_pics {position:relative;}
.body_item2 .app_pics .pic_phone {position:absolute; top:-510px; left:50px; width:370px; height:650px;}
.body_item2 .app_pics .pic_words1 {position:absolute; top:-390px; left:500px; width:438px; height:62px;}
.body_item2 .app_pics .pic_words2 {position:absolute; top:-290px; left:500px; width:401px; height:92px;}
.body_item2 .contents {margin:40px auto;}
.body_item2 .contents .app_version1 { display:inline-block; width:186px; height:62px; line-height:62px;text-align: center; background-color: #fff; margin-left:200px; margin-right: 100px;}
.body_item2 .contents .app_version2 { display:inline-block; width:186px; height:62px; line-height:62px;  text-align: center; background-color: #fff; margin-right:120px;}
.body_item2 .contents .app_scan {position:relative; top:47px; display:inline-block; width:150px; text-align: center; }
.body_item2 .contents .app_scan .app_icon{width:150px; height:150px;}
.body_item2 .contents .app_d { width:150px; height:30px; line-height: 30px; font-size: 14px;}
/* 切换城市页面 开始 */
.body_item1 {display:block; min-width: 1240px; background-color: #fff; margin-top:100px;}
.body_item1 .cities {margin:20px auto;}
.body_item1 .cities a {margin-left:20px;}
.body_item1 .cities a:link {font-size:16px; color: #008dff;}
.body_item1 .cities a:visited {color: #008dff;}
.body_item1 .cities a:hover {color: #e74346;}
.body_item1 .cities a:active {color: #e74346;}

.body_item1 b {font-size:20px;}
.body_item1 .city_open {line-height:30px;}
.body_item1 strong{height:50px; line-height:50px;}
.footer_bg2 {background-color: #f5f5f5;}
/* 切换城市页面 结束 */


@media screen and (max-width: 1240px) {
	.head_item, .wrap .wrapper, .foot, section{width: 980px; margin:0 auto;}
	.wrap .wrapper {height:332px;}
	.wrap .wrapper .menu {height:332px;}
	.wrap .wrapper .menu .category {height:47px; line-height: 47px;}
	.wrap .wrapper .menu .category i {top:13px;}
	.wrap .wrapper .item_content ul li {height:47.4px; line-height: 47.4px;}

  .body_item .service_items .service_item1 li {width:121.6px; height:121.6px; border-left: 1px solid #dcdcdc; display:inline-block; float:left;}
  .body_item .service_items .service_item1 li img {width:70px; height: 70px; margin:0 auto; margin-top:10px; margin-bottom:-5px;}
  .body_item2 .bd2_items ul li .price_info .text_content {margin:0 auto;}

  .body_item .service_items .service_item2 li {width:156.6px; height:165px; display:inline-block; float:left; text-align:center; padding:0 4px;}
	.body_item .service_items .service_item2 li img {width:156.6px; height: 125px; display: block; }

	.body_item .service_items .service_item3 li {width:321.3px; height:212px; display:inline-block; float:left; text-align:center; padding:0 4px;}
	.body_item .service_items .service_item3 li img {width:321.3px; height: 162px; display: block; }

	.body_item2 .f_left li {font-size:16px;}

	.foot .ft_item {float:left; width:22%;}
	.foot .ft_item2 {float:left; width:34%;}
}

/* 主页厨师内容隐藏 ！important */
.body_item .service_items .service_item2, .body_item .service_items .service_item3{display:none;}